.sidebar-menu {
  list-style-type: none;
  padding-left: 0;

  li {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #c1b3ff;
    }

    .pi {
      margin-right: 0.5rem;
    }
  }
}
