<div class="grid">
  <div *ngFor="let order of orders" class="col-6">
    <p-fieldset [legend]="order.attributes.customerInfo.name">
      <div class="flex justify-content-between">
        <div class="flex flex-column">
          <span class="text-secondary mb-1">{{ order.attributes.customerInfo.phone | mask : '(00) 00000-0000' }}</span>
          <small class="text-500">{{ order.attributes.customerInfo.address }}</small>
        </div>

        <button type="button" pButton class="p-button-sm" label="Ver" (click)="showOrder()"></button>
      </div>
    </p-fieldset>
  </div>
</div>
