<div class="login-container">
  <div class="grid justify-content-center mt-5">
    <div class="col-12 md:col-8 lg:col-7 xl:col-5">
      <p-card header="Login">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
          <div class="p-fluid">
            <div class="field">
              <label for="userEmail">E-mail</label>
              <input id="userEmail" type="text" pInputText formControlName="identifier" />
              <small
                *ngIf="!loginForm.controls['identifier'].valid && loginForm.controls['identifier'].dirty"
                class="p-error"
              >
                Informe um e-mail válido
              </small>
            </div>
            <div class="field mt-4">
              <label for="userPassword">Senha</label>
              <input id="userPassword" type="password" pInputText formControlName="password" />
              <small
                *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].dirty"
                class="p-error"
              >
                A senha é obrigatória
              </small>
            </div>

            <p-button type="submit" class="block mt-5" label="Acessar"></p-button>
          </div>
        </form>
      </p-card>
    </div>
  </div>
</div>
